@import 'tailwindcss';
@plugin "daisyui";
@import "tailwindcss-animated";
@theme{
    --font-inter: 'Inter', sans-serif;
    --color-green-custom:  rgb(48, 194, 61);
    --color-dark-custom: rgba(39, 40, 41);
    --color-pink-dark: rgb(252, 43, 137)
}