@plugin "daisyui";

.screen {
    background: #222;
    border-radius: 14px;
    /* margin: 0 auto; */
    position: relative;
    width: auto;
    height: 600px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.screen:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.6);
    transform: translateY(-6px);
}

.viewport {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 2.5% 2.5%;
    background: #333;
    background-size: cover;
    background-position: center top;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.screen:hover .viewport {
    background-position: center bottom;
}

.screen .viewport:after {
    background: radial-gradient(
        circle at right bottom,
        transparent 75%,
        rgba(255, 255, 255, 0.08) 75%,
        transparent
    );
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
    transition: opacity 0.6s ease-in-out;
}

.screen:hover .viewport:after {
    opacity: 0.8;
}

.slider {
    padding: 32px;
    color: #fff;
}
.slider .swiper-container1 {
    width: 100%;
    height: 100%;
}
.slider .swiper-container2 {
    width: 100%;
    height: 100%;
}
.slider__flex {
    display: flex;
    align-items: flex-start;
}
.slider__col {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 32px;
}
.slider__prev,
.slider__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider__prev:focus,
.slider__next:focus {
    outline: none;
}
.slider__thumbs {
    height: calc(400px - 96px);
}
.slider__thumbs .slider__image {
    transition: 0.25s;
    width: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}
.slider__thumbs .slider__image:hover {
    opacity: 1;
}
.slider__thumbs .swiper-slide-thumb-active .slider__image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}
.slider__images {
    height: 500px;
    width:80%;
}

.slider__images .slider__image img {
    transition: 3s;
    object-position: top;
}

.slider__images .slider__image:hover img {
    transition: 3s;
    object-position: bottom;
}

.slider__image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.slider__image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 767.98px) {
    .slider__flex {
        flex-direction: column-reverse;
    }
    .slider__col {
        flex-direction: row;
        align-items: center;
        margin-right: 0;
        margin-top: 24px;
        width: 100%;
    }
    .slider__images {
        width: 100%;
    }
    .slider__thumbs {
        height: 100px;
        width: calc(100% - 96px);
        margin: 0 16px;
    }
    .slider__prev,
    .slider__next {
        height: auto;
        width: 32px;
    }
    .slider__thumbs .slider__image {
        width: auto;
    }
}